<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    This app provides the current weather/temperature info based on node.js<br>
    dependent APIs:<br>
    (1) <a href="https://docs.mapbox.com/api/search/geocoding/">Mapbox (to query the geo info</a><br>
    (2) <a href="https://weatherstack.com/documentation">Weatherstack (to query the weather info)</a>><br>
    </div>

    {{>footer}}
</body>

</html>